body {
    animation: animacao 20s infinite;
}

@keyframes animacao {
    0% {
        background-color: aqua;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: midnightblue;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: aqua;
    }
}